{% extends "isharp_base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block center_content %}

<div class="container">
    <H3>Broker Listing: {{hostname}}</H3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Path</td>
            <td>Revision</td>
            <td>Storage Method</td>
            <td>Style</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>


        {% for n in my_list %}
        <tr>
            {% set url="/datahub/view/{}?protocol={}".format(n.path,n.storage_method)%}
            <td>{{n.name}}</td>
            <td>{{n.path}}</td>
            <td>{{n.revision_id}}</td>
            <td>{{n.storage_method}}</td>
            <td>{{n.memory_style}}</td>
            <td>{{n.description}}</td>
            <td> <a href="{{url}}">View</a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}


