



</body>
</html>


{% extends "isharp_base.html" %}
{% block title %}Datahub Matrix Details{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block side_menu %}

            <H3>Revision History</H3>
            <table class="table ">
                <thead >
                <tr>
                    <th>ID</th>
                    <th>who</th>
                    <th>what</th>
                    <th>when</th>
                </tr>

                </thead>
                <tbody>
                {% for r in revision_list %}
                <tr>

                    <td>{{r.id}}</td>
                    <td>{{r.revision_info.who}}</td>
                    <td>{{r.revision_info.what}}</td>
                    <td>{{r.revision_info.when}}</td>
                </tr>
                {% endfor %}
                </tbody>


            </table>
{% endblock %}
{% block center_content %}


    <div id="myGrid" class="ag-theme-balham" style=" height: 100vh; flex-grow:7"></div>



</div>


<script type="text/javascript" charset="utf-8">
    // python -> javascript  hacks
    var columnNames = {{column_headers | tojson}}
    var rowData = {{row_data | tojson}}

</script>


<script type="text/javascript" charset="utf-8">
    // specify the columns
    var conlumnDefs = []

    columnNames.forEach(function (thisName) {
        conlumnDefs.push({headerName: thisName, field: thisName})
    })


    // let the grid know which columns and what data to use
    var gridOptions = {
        columnDefs: conlumnDefs,
        rowData: rowData
    };

    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid');

    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(eGridDiv, gridOptions);

</script>

{% endblock %}






